body {
	background: #FFF;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 30px;
	text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0;
    font-family: 'Cambria Math', Georgia, serif;
    color: #000;
	line-height: 1;
}

h2 {
	font-size: 70px;
	font-weight: normal;
	margin: 0;
	color: #FFB000;
    font-family: 'Cambria Math', Georgia, serif;
	text-transform: lowercase;
}

h3 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
    margin-top: 40px;
	text-transform: lowercase;
}

p {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
}
pre {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
	font-size: 18px;
}

code {
    background-color: #000;
	font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-family: menlo, monospace;
}




a, a:visited {
	color: #000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
	list-style: none;
}

.download {
	padding: 10px;
}


blockquote {
	text-align: left;
	width: 720px;
	margin: 10px auto;
	background: #C5C3DE;
	border: solid 2px #69697A;
	padding: 0 40px;
}

/*----------------------------------------  BLOCKS */

.scrollblock {
	position: relative;
	margin: 0;
	width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.scrollblock h2 {

}

.block-title { background-color: #FFF; padding-bottom: 50px; }
.block-title h2 { color: #000; }
.block-title .meta { font-size: 16px; color: #999; }
.block-title .meta a { font-size: 16px; color: #333; }
.block-merge { background-color: #06406c; }
.block-merge h2 { color: #FFF; }
.block-merge p { color: #FFF; }
.block-merge code { background-color: #000; color: #FFF; }
.block-rebase { background-color: #fff8c9; }
.block-rebase h2 { color: #2d2700; }
.block-rebase p { color: #615400; }
.block-stash-pop { background-color: #06406c; }
.block-stash-pop h2 { color: #FFF; }
.block-stash-pop p { color: #FFF; }
/*.block-comments { background-color: #FFF; padding-bottom: 50px; font-size: 14px; color: #000; }
.block-comments h2 { color: #000; }
.block-comments h3 { font-size: 16px; }
.block-comments #disqus_thread { width: 600px; text-align: left; margin-left: auto; margin-right: auto; }
*/
.announcement {
    margin-bottom: 40px;
}

.announcement img {
    border-radius: 4px;
}




.console-background {
	max-width: 960px;
 	width: 80%;
	margin: 40px auto;
	text-align: left;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
}

.console {
/*    margin: 0px;
    padding: 0px;
*/}

.console-text-own {
	font-size: 30px;
	color: rgb(255, 255, 255) !important;
	line-height: 40px;
    color: rgb(255, 255, 255);
    font-family: Monospace;
    margin: 00px 0px 0px 10px;
}
.console-text-git {
	font-size: 30px;
	line-height: 40px;
    color: rgb(180, 180, 180) !important;
    font-family: Monospace;
    margin: 00px 0px 0px 10px;
}

.console-textinput {
    resize: none;
    margin: 0px 0px 10px 10px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Monospace;
    width: calc(100% - 20px);
    overflow: hidden;
}


.sidebyside-container {
    width: 90%;
    height: 200px;
    margin: auto;
}
.sidebyside-one {
    width: 48%;
    height: 100%;
    float: left;
    border-radius: 10px;
    margin-right: 1%;
    padding-bottom: 30px;
}
.sidebyside-two {
	float: left;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    margin-left:1%;
    padding-bottom: 30px;
}
.merge-highlight {
    background-color: #053356;
}
.rebase-highlight {
    background-color: #d0c99e;
    color: #615400;
}

.branch1 {
	color: #ffed01;
}
.branch2 {
	color: #57cc32;
}