* {
    box-sizing: border-box;
}

body {
	background: #FFF;
	font-family: Georgia, Times New Roman, Times, serif;
    font-size: 3vw;
	text-align: center;
    margin: 0;
    padding: 0;
}


h1 h2 h3 {
    font-weight: normal;
    margin: 0;
}

h1 {
	font-size: 3.75rem;
    font-family: 'Cambria Math', Georgia, serif;
    color: #000;
	line-height: 1;
}

h2 {
	font-size: 6vw;
	color: #FFB000;
    font-family: 'Cambria Math', Georgia, serif;
	text-transform: lowercase;
}

/* h3 {
	font-size: 2.5rem;
    margin-top: 40px;
	text-transform: lowercase;
} */

p {
	margin: 1vh auto;
	color: #000;
    line-height: 200%;
}

/* pre {
    font-size: 1.125rem;
	margin: 2vw auto;
	color: #000;
    line-height: 200%;
	
} */

code {
    font-size: 2.5vw;
    background-color: #000;
	font-style: normal;
    border-radius: 1vw;
    color: white;
    padding: 0.5vh 1vw;
    font-family: menlo, monospace;
}

a, a:visited {
	color: #000;
    font-size: 1vw;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
	list-style: none;
}

/* .download {
	padding: 10px;
} */

.downArrow {
    font-size: 3rem;
    color: black;
}

/* blockquote {
	text-align: left;
	margin: 10px auto;
	background: #C5C3DE;
	border: solid 2px #69697A;
	padding: 0 40px;
} */

/*----------------------------------------  BLOCKS */

.scrollblock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

	position: relative;
	margin: 0;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.block-title { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100vh;
    background-color: #FFF; 
    padding-bottom: 50px; 
    
}
.block-title h2 { color: #000; }

.block-title > .meta {
    color: #999;
}

.block-title > .meta > a { 
    color: #333; 
}

.block-title > p {
    font-size: 2vw;
}

.block-title > .meta > a {
    font-size: 2vw;
}

.block-merge { background-color: #06406c; }
.block-merge h2 { color: #FFF; }
.block-merge p { color: #FFF; }
.block-merge code { background-color: #000; color: #FFF; }
.block-rebase { background-color: #fff8c9; }
.block-rebase h2 { color: #2d2700; }
.block-rebase p { color: #615400; }
/*.block-comments { background-color: #FFF; padding-bottom: 50px; font-size: 14px; color: #000; }
.block-comments h2 { color: #000; }
.block-comments h3 { font-size: 16px; }
.block-comments #disqus_thread { width: 600px; text-align: left; margin-left: auto; margin-right: auto; }
*/

/* .announcement {
    margin-bottom: 40px;
}

.announcement img {
    border-radius: 4px;
} */
/* 
.console {
    margin: 1% 1%;
} */

.console-background {
	max-width: 960px;
 	width: 80%;
    padding: 2vw;
	margin: 3vh 0;

	text-align: left;
    background-color: black;
    border-radius: 10px;
}

.console-text-own {
    font-size: 1.25vw;
	color: rgb(255, 255, 255) !important;
	line-height: 3.5vw;
    font-family: Monospace;
    /* margin: 00px 0px 0px 10px; */
    margin: 00px 0px 0px 1vh;
}

.console-text-git {
    font-size: 2.5vw;
    line-height: 3.3vw;
	
    color: rgb(180, 180, 180) !important;
    font-family: Monospace;
    /* margin: 00px 0px 0px 10px; */
    margin: 00px 0px 0px 1vw;
}

/* .console-textinput {
    resize: none;
    margin: 0px 0px 1% 1%;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Monospace;
    width: 99%;
    overflow-wrap: normal;
} */


.sidebyside-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.sidebyside-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 46%;
    border-radius: 10px;
    padding-bottom: 3vh;
}

.merge-highlight {
    background-color: #053356;
}
.rebase-highlight {
    background-color: #d0c99e;
    color: #615400;
}

.branch1 {
	color: #ffed01;
}
.branch2 {
	color: #57cc32;
}

/* Media query for mobile view */
@media only screen and (max-width: 1150px) {
    .block-title > h1 {
        font-size: 8vw;
    }

    .block-title > p {
        font-size: 4vw; 
    }
    
    .block-title > .meta > a { 
        font-size: 4vw;     
    }

    .sidebyside-container {
        flex-direction: column;
        align-items: center;
    }

    .sidebyside-box {
        width: 86%;
        margin: 1% 0;
        padding-bottom: 3vh;
    }

    .console-text-own {
        font-size: 2.5vw;
    }

    .downArrow {
        font-size: 7vw;
    }
}

/* Defining CSS Animation for downArrow */
@keyframes arrowBobble {
    from {
      transform: translateY(2vh);
    } 
    to {
      transform: translateY(-2vh);
    }
  }

/* Applying CSS Animation on downArrow */
@media (prefers-reduced-motion: no-preference) {
    .downArrow {
        animation: arrowBobble infinite 2.5s ease-in-out alternate;
    }
}